@import '../../pages/Root.less';



.book-tabs {
    display: flex;
    justify-self: center;
  }


.cards {
    margin: auto;

    .cards-wrap {
        display: flex;
        justify-content: center;
        gap: 1.5em;
    }
}
  